.banner_wrapper {
    width: 100%;
    height: auto;
    min-height: 650px;
    background-image: url(../img/bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 310px 0 100px 0;
}