$cl-primary:#fd4766;
$cl-secondary: #0e1525;
$bg-dark-blue:#091020;
$cl-white:#fff;
$cl-gray:#c6c9d8bf;
$cl-gradient: linear-gradient(-224deg, $cl-primary 0, #337dff 100%);
$txt-gradient: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%, $cl-primary 79.69%);
$font-primary: 'Poppins',
sans-serif;